// colors
$accentColor ?= #6236FF
$accentColorLight ?= #EFECFE
$accentDarkColor ?= desaturate(darken(#66F, 60%), 40%)
$neutralColor ?= #eaeaea
$neutralColorDark ?= #c9c7c7
$textColor ?= #000
// $borderColor ?= #eaecef
// $codeBgColor ?= darken(#4D4D4D, 10%)
$arrowBgColor ?= #4D4D4D
$badgeTipColor ?= #00BF9A
$badgeWarningColor ?= #CC9300
$badgeErrorColor ?= #EB4339
#EFECFE

:root {
  --accent-color: $accentColor;
  --accent-color-light: $accentColorLight;
  --accent-dark-color: $accentDarkColor;
  --neutral-color: $neutralColor;
  --neutral-color-dark: $neutralColorDark;
  --text-color: $textColor;
  --border-color: $borderColor;
  --code-bg-color: $codeBgColor;
  --arrow-bg-color: $arrowBgColor;
  --badge-tip-color: $badgeTipColor;
  --badge-warning-color: $badgeWarningColor;
  --badge-error-color: $badgeErrorColor;
  }
// // layout
// $navbarHeight ?= 3.6rem
// $sidebarWidth ?= 20rem
// $contentWidth ?= 740px
// $homePageWidth ?= 960px



// // code
// $lineNumbersWrapperWidth ?= 3.5rem
// $codeLang ?= js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
