.VPSidebar #VPSidebarNav {
  padding-top: 50px;
  background-color: var(--vp-sidebar-bg-color);
  }

  // Overriding default theme
.sidebar-group.sidebar-group.is-sub-group > .sidebar-heading
  font-size: 1em

.sidebar-group.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable)
  opacity: 1
  cursor: pointer

.VPSidebar .VPSidebarItem.level-0 {
  padding-bottom: 0;
}

.collapsible .VPSidebarItem.level-1 .item,
.collapsible .VPSidebarItem.level-2 .item,
.collapsible .VPSidebarItem.level-3 .item,
.collapsible .VPSidebarItem.level-4 .item,
.collapsible .VPSidebarItem.level-5 .item {
  position relative;
  padding-left: 0 !important;
  margin-left: 16px !important;
  &:before {
    position absolute;
    top: 15px;
    content: '';
    height: 1px;
    width: 10px;
    background-color: var(--vp-c-divider);
  }
}

  .VPSidebarItem.level-1 .items,
  .VPSidebarItem.level-2 .items,
  .VPSidebarItem.level-3 .items,
  .VPSidebarItem.level-4 .items,
  .VPSidebarItem.level-5 .items {
    padding-left: 0 !important;
    margin-left: 16px !important;
  }

.VPSidebar .nav .group {
  border: none;
}

.VPSidebar .VPSidebarItem.level-0 {
  padding-bottom: 0;
}

.group:has(.reduce-bottom-margin) {
  margin-bottom: 7px;
}