:root {
  --vp-nav-height: 6.2rem;
}

// responsive breakpoints
$MQNarrow ?= 959px
$MQMobile ?= 719px
$MQMobileNarrow ?= 419px

:root {
  --mq-narrow: $MQNarrow;
  --mq-mobile: $MQMobile;
  --mq-mobile-narrow: $MQMobileNarrow;
  }