:root {
  --vp-nav-height: 6.2rem;
}

// responsive breakpoints
$MQNarrow ?= 959px
$MQMobile ?= 719px
$MQMobileNarrow ?= 419px

:root {
  --mq-narrow: $MQNarrow;
  --mq-mobile: $MQMobile;
  --mq-mobile-narrow: $MQMobileNarrow;
  --vp-sidebar-bg-color: #fff;
  --vp-nav-logo-height: 32px;
  }