@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

$type-size-base ?= 1rem;
$type-size-h1 ?= 2.62rem;
$type-size-h2 ?= 2.62rem;
$type-size-h3 ?= 2rem;
$type-size-h4 ?= 1.56rem;
$type-size-p-large ?= 1.125rem;


html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  letter-spacing: -0.75px;
	border-bottom: none;
}

h1 {
	font-size: $type-size-h1;
}

h2 {
	font-size: $type-size-h2;
}

h3 {
	font-size: $type-size-h3;
}

h4 {
	font-size: $type-size-h4;
}

p.large {
	font-size: $type-size-p-large;
}