{
  "extends": [
    "stylelint-config-apostrophe",
    "stylelint-plugin-stylus/standard"
  ],
  "plugins": [
    "stylelint-plugin-stylus"
  ],
  "rules": {
    "at-rule-disallowed-list": ["each", "function"],
    "scale-unlimited/declaration-strict-value": "never",
    "stylus/semicolon": "always",
    "stylus/pythonic": "never",
    "stylus/declaration-colon": "always",
    "stylus/selector-list-comma": "always"
  }
}
