table {
  // Line height applied to paragraphs, used to make tables easier to read.
  line-height: 1.7
}

table code {
  white-space: nowrap;
}

.custom-block.note {
  background-color #f2eef7;
  border-color #6516dd;
  // Layout styles copied from Vuepress core.
  padding: .1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0 ;
}